@import "tailwindcss";

@theme {
  --color-primary: #050505;
  --color-secondary: #FFFFFF;
  --color-accent: #3B82F6;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}